APP_NAME="learnova-cap"
APP_VERSION="0.1"
FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_ALLOWED_SIZE=100
FILE_DEFAULT_CHUNK_SIZE=512000
MONGODB_URL="mongodb://admin:admin@mongodb:27017"
MONGODB_DATABASE="learnova-cap"

# ============================ LLM Configurations ============================
GENERATION_BACKEND="GROQ"
EMBEDDING_BACKEND="JINA"

GROQ_API_KEY=""
GENERATION_MODEL_ID="llama-3.3-70b-versatile"

EMBEDDING_MODEL_ID="jina-embeddings-v3"
EMBEDDING_MODEL_SIZE=1024

INPUT_DAFAULT_MAX_CHARACTERS=50000
GENERATION_DAFAULT_MAX_TOKENS=4000
GENERATION_DAFAULT_TEMPERATURE=0.1

JINA_API_KEY=""
JINA_API_URL="https://api.jina.ai/v1"

# ============================ Chunking Config ============================
RAG_CHUNK_SIZE=100
RAG_OVERLAP_SIZE=20
STRUCTURE_CHUNK_SIZE=1000
STRUCTURE_OVERLAP_SIZE=100

# ============================ Question Generation ============================
QUESTION_GENERATION_BACKEND="OPENROUTER"
QUESTION_GENERATION_MODEL_ID="qwen/qwen3.6-plus:free"
QUESTION_OPENAI_API_KEY=""
QUESTION_CHUNK_SIZE=1500
QUESTION_OVERLAP_SIZE=150

# ============================ VectorDB Configurations ============================
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_URL="http://qdrant:6333"
VECTOR_DB_DISTANCE_METHOD="cosine"

# ============================ Template Configurations ============================
DEFAULT_LAN="en"
PRIMARY_LAN="en"
